[package]
name = "tests-integration"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
publish = false

[lints]
workspace = true

[dev-dependencies]
tempfile = { workspace = true }
