[package]
name = "which"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
lexopt = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }
