[package]
name = "common"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
encoding_rs_io = { workspace = true }
lexopt = { workspace = true }
